.bubble-outline {
    padding: 6px 12px;
    border: 1px solid rgb(214, 214, 214);
    border-radius: 100px;
    height: 40px;
    margin-right: 10px;

    .address-container{
        overflow: hidden;
        max-width: 15ch;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

.social-icon-container {
    padding: 6px;
    border: 1px solid rgb(214, 214, 214);
    height: 40px;
    width: 40px;
    border-radius: 100px;
}