@import "../../common/style/color.scss";

.button-container{
    border-radius: 100px !important;
    background-color: $primary-color;
    padding: 12px 24px;
    // box-shadow: 0px 15px 30px rgba(20, 102, 204, 0.16);
    transition: 0.1s;
}

.button-container:hover{
    background-color: $primary-dark;
    transition: 0.1s;
}