[tool.poetry]
name = "tzprofiles_indexer"
version = "0.1.0"
description = ""
authors = ["Spruce Systems, Inc."]
license = "Apache-2.0"

[tool.poetry.dependencies]
python = "^3.9"
dipdup = {path = "../../../dipdup", develop = true}

[tool.poetry.dev-dependencies]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
