.panel-container {
  position: absolute;
  top: 20px;
  left: 0px;
  width: 150px;
  background-color: rgb(252, 252, 252);
  border: 1px solid rgb(235, 235, 235);
  box-shadow: 0px 0px 60px rgba(82, 82, 82, 0.1);
  border-radius: 12px;
  padding: 14px 12px;
  z-index: 100;
}
