ul.lst-kix_77iyj6qm6h9l-0 {
  list-style-type: none;
}
.lst-kix_ggc1sghzlom9-0 > li:before {
  content: '\0025cf  ';
}
ul.lst-kix_il4zdrxztb1p-0 {
  list-style-type: none;
}
ul.lst-kix_f7jlosydnf99-0 {
  list-style-type: none;
}
.lst-kix_il4zdrxztb1p-0 > li:before {
  content: '\0025cf  ';
}
.lst-kix_77iyj6qm6h9l-0 > li:before {
  content: '\0025cf  ';
}
ul.lst-kix_ggc1sghzlom9-0 {
  list-style-type: none;
}
li.li-bullet-0:before {
  margin-left: -18pt;
  white-space: nowrap;
  display: inline-block;
  min-width: 18pt;
}
.lst-kix_f7jlosydnf99-0 > li:before {
  content: '\0025cf  ';
}
.c15 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left;
  height: 11pt;
}
.c1 {
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 10pt;
  font-family: 'Arial';
  font-style: normal;
}
.c7 {
  padding-top: 8pt;
  padding-bottom: 8pt;
  line-height: 1.2;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.c10 {
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 11pt;
  font-family: 'Arial';
  font-style: normal;
}
.c2 {
  padding-top: 0pt;
  padding-bottom: 8pt;
  line-height: 1.5;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.c8 {
  color: #222222;
  font-weight: 700;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 24pt;
  font-family: 'Arial';
  font-style: normal;
}
.c3 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.5;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.c11 {
  color: #000000;
  text-decoration: none;
  vertical-align: baseline;
  font-family: 'Arial';
  font-style: normal;
}
.c12 {
  color: #000000;
  text-decoration: none;
  vertical-align: baseline;
  font-family: 'Arial';
  font-style: italic;
}
.c19 {
  color: #222222;
  text-decoration: none;
  vertical-align: baseline;
  font-family: 'Arial';
  font-style: normal;
}
.c9 {
  font-size: 24pt;
  color: #222222;
  font-weight: 700;
}
.c0 {
  font-size: 10pt;
  font-weight: 700;
}
.c13 {
  padding: 0;
  margin: 0;
}
.c5 {
  margin-left: 36pt;
  padding-left: 0pt;
}
.c20 {
  font-weight: 700;
  font-size: 42pt;
}
.c4 {
  font-size: 10pt;
}
.c16 {
  font-weight: 400;
}
.c14 {
  font-style: italic;
}
.c17 {
  height: 11pt;
}
li {
  color: #000000;
  font-size: 11pt;
  font-family: 'Arial';
}
p {
  margin: 0;
  color: #000000;
  font-size: 11pt;
  font-family: 'Arial';
}
h4 {
  padding-top: 14pt;
  color: #222222;
  font-size: 12pt;
  padding-bottom: 4pt;
  font-family: 'Arial';
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
