.lst-kix_4ubjrbd9m6k1-0>li:before {
  content: ''counter(lst-ctn-kix_4ubjrbd9m6k1-0, decimal) '. ';
}

ol.lst-kix_vkgcwtejarco-0 {
  list-style-type: none;
}

ol.lst-kix_4ubjrbd9m6k1-0.start {
  counter-reset: lst-ctn-kix_4ubjrbd9m6k1-0 0;
}

.lst-kix_vkgcwtejarco-0>li {
  counter-increment: lst-ctn-kix_vkgcwtejarco-0;
}

ol.lst-kix_vkgcwtejarco-0.start {
  counter-reset: lst-ctn-kix_vkgcwtejarco-0 0;
}

.lst-kix_4ubjrbd9m6k1-0>li {
  counter-increment: lst-ctn-kix_4ubjrbd9m6k1-0;
}

.lst-kix_vkgcwtejarco-0>li:before {
  content: ''counter(lst-ctn-kix_vkgcwtejarco-0, decimal) '. ';
}

li.li-bullet-0:before {
  margin-left: -18pt;
  white-space: nowrap;
  display: inline-block;
  min-width: 18pt;
}

ol.lst-kix_4ubjrbd9m6k1-0 {
  list-style-type: none;
}

ol {
  margin: 0;
  padding: 0;
}

.c20 {
  margin-left: 36pt;
  padding-top: 0pt;
  padding-left: 0pt;
  padding-bottom: 0pt;
  line-height: 1.1500022727272727;
  orphans: 2;
  widows: 2;
  text-align: left;
}

.c3 {
  margin-left: 36pt;
  padding-top: 12pt;
  padding-left: 0pt;
  padding-bottom: 0pt;
  line-height: 1.5;
  orphans: 2;
  widows: 2;
  text-align: left;
}

.c4 {
  color: #134f5c;
  font-weight: 700;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 24pt;
  font-family: 'Arial';
  font-style: normal;
}

.c7 {
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 10.5pt;
  font-family: 'Arial';
  font-style: normal;
}

.c2 {
  color: #134f5c;
  font-weight: 700;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 42pt;
  font-family: 'Arial';
  font-style: normal;
}

.c0 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left;
  height: 11pt;
}

.c13 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left;
}

.c19 {
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-family: 'Arial';
  font-style: italic;
}

.c5 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.5;
  orphans: 2;
  widows: 2;
  text-align: left;
}

.c8 {
  color: #000000;
  font-weight: 700;
  text-decoration: none;
  vertical-align: baseline;
  font-family: 'Arial';
  font-style: normal;
}

.c9 {
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-family: 'Arial';
  font-style: normal;
}

.c15 {
  padding: 0;
  margin: 0;
}

.c21 {
  color: inherit;
  text-decoration: inherit;
}

.c18 {
  margin-left: 54pt;
  text-indent: -18pt;
}

.c10 {
  font-size: 18pt;
}

.c6 {
  height: 11pt;
}

.c1 {
  font-size: 10pt;
}

.c12 {
  font-weight: 700;
}

.c17 {
  font-size: 10.5pt;
}

.c11 {
  font-size: 12pt;
}

li {
  color: #000000;
  font-size: 11pt;
  font-family: 'Arial';
}

p {
  margin: 0;
  color: #000000;
  font-size: 11pt;
  font-family: 'Arial';
}
