.table-container{
    max-width: 1000px;
    height: 500px;
    background-color: white;
    border-radius: 12px;
    overflow: visible;

    .header-row-container{
        padding: 36px 24px;
        border-bottom: 1px solid #E7EFFA;
    }
}


.table-auto {
    margin: 0;
}

#credential td {
    padding: 24px;
}

#credential tr {
    border-bottom: 1px solid #E7EFFA;
}

#credential tr:hover{
    background-color: #F6F9FF;
    transition: 0.1s;
}

#credential th {
    padding: 14px 24px;
    opacity: 0.5;
    border-bottom: 1px solid #E7EFFA;
}

// status tags
.status-tag{
    display: inline-block;
    padding: 2px 8px;
    border-radius: 6px;
    font-size: 12px;
}

.status-complete {
    background-color: rgb(203, 255, 211);
    color: rgb(33, 97, 43);
}

.status-incomplete {
    background-color: rgb(255, 238, 238);
    color: rgb(238, 0, 0);

}