@layer components {
  .table-container {
    @apply w-137 sm:w-full max-w-inherit sm:max-w-250 bg-white rounded-xl overflow-visible mt-6;
    .header-row-container {
      @apply py-4.5 px-3 lg:py-9 lg:px-6 border-b border-beige-8;
    }
  }
  #credential td {
    @apply p-3 lg:p-6 text-xs lg:text-base;
  }
  #credential tr {
    @apply transition delay-100 border-b border-beige-8;
    &:hover {
      @apply bg-beige-9;
    }
  }
  #credential th {
    @apply p-3 lg:py-3.5 lg:px-6 opacity-50 text-xs lg:text-base border-b border-beige-8;
  }
  .table-auto {
    @apply m-0;
  }
  .table-content-continer {
    @apply overflow-auto;
  }
  .icon-container {
    @apply w-7.5;
  }
  .status-tag {
    @apply inline-block px-2 py-0.5 rounded-md text-xs;
  }
  .status-incomplete {
    @apply bg-beige-7 text-red-1;
  }
  .status-pending {
    @apply bg-yellow-1 text-yellow-2;
  }
  .status-complete {
    @apply bg-green-1 text-green-2;
  }
}
