.table-container {
  max-width: 1000px;
  background-color: white;
  border-radius: 12px;
  overflow: visible;
  margin-top: 24px;
  @media (max-width: 674px) {
    max-width: inherit;
    width: 674px;
  }

  .header-row-container {
    padding: 36px 24px;
    border-bottom: 1px solid #e7effa;
    @media (max-width: 1023px) {
      padding: 18px 12px;
    }
  }
}

.table-auto {
  margin: 0;
}

#credential td {
  padding: 24px;
  font-size: 16px;
  @media (max-width: 1023px) {
    padding: 12px;
    font-size: 12px;
  }
}

#credential tr {
  border-bottom: 1px solid #e7effa;
}

#credential tr:hover {
  background-color: #f6f9ff;
  transition: 0.1s;
}

#credential th {
  padding: 14px 24px;
  opacity: 0.5;
  border-bottom: 1px solid #e7effa;
  @media (max-width: 1023px) {
    padding: 12px;
    font-size: 12px;
  }
}

.table-content-continer {
  overflow: auto;
}

.icon-container {
  width: 30px;
}

// status tags
.status-tag {
  display: inline-block;
  padding: 2px 8px;
  border-radius: 6px;
  font-size: 12px;
}

.status-complete {
  background-color: rgb(203, 255, 211);
  color: rgb(33, 97, 43);
}

.status-pending {
  background-color: rgb(255, 242, 199);
  color: rgb(82, 54, 2);
}

.status-incomplete {
  background-color: rgb(255, 238, 238);
  color: rgb(238, 0, 0);
}
