version: "3.8"

services:
  tzkt_db:
    restart: always
    image: postgres:13
    environment:
      - POSTGRES_USER=tzkt
      - POSTGRES_PASSWORD=qwerty
      - POSTGRES_DB=tzkt_db
    volumes:
      - tzkt_db:/var/lib/postgresql/data
      - /tmp/tzkt_db.backup:/tmp/tzkt_db.backup:z
      - ./pg_restore.sh:/docker-entrypoint-initdb.d/pg_restore.sh:z

  tzkt_api:
    restart: always
    image: bakingbad/tzkt-api:1.6.1
    environment:
      - TZKT_API_KESTREL__ENDPOINTS__HTTP__URL=http://0.0.0.0:5000
      - TZKT_API_WEBSOCKET__MAXCONNECTIONS=5000
      - TZKT_API_WEBSOCKET__MAXOPERATIONSUBSCRIPTIONS=5000
      - TZKT_API_CONNECTIONSTRINGS__DEFAULTCONNECTION=host=tzkt_db;port=5432;database=tzkt_db;username=tzkt;password=qwerty;
    ports:
      - 5000:5000
    depends_on:
      - tzkt_db
      - tzkt_sync

  tzkt_sync:
    restart: always
    image: bakingbad/tzkt-sync:1.6.1
    environment:
      - TZKT_SYNC_CONNECTIONSTRINGS__DEFAULTCONNECTION=host=tzkt_db;port=5432;database=tzkt_db;username=tzkt;password=qwerty;
    depends_on:
      - tzkt_db

  indexer:
    image: ghcr.io/spruceid/tzp_indexer:latest
    build: ./indexer
    depends_on:
      - db
      # - api
      - hasura
    restart: always
    # command: ["-c", "dipdup.yml", "-l", "debug.yml", "run"]
    environment:
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD:-changeme}
      - ADMIN_SECRET=${ADMIN_SECRET:-changeme}
      - TZP_API=${TZP_API:-http://api:8080}
      # - TZKT_URL=${TZKT_URL:-http://tzkt_api:5000/}

  db:
    image: postgres:13
    restart: always
    volumes:
      - db:/var/lib/postgres/data
    environment:
      - POSTGRES_USER=dipdup
      - POSTGRES_DB=dipdup
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD:-changeme}
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U dipdup"]
      interval: 10s
      timeout: 5s
      retries: 5

  hasura:
    image: hasura/graphql-engine:v2.0.7
    ports:
      - 127.0.0.1:42000:8080
    depends_on:
      - db
    restart: always
    healthcheck:
      test: ['CMD', 'wget', '--quiet', '--spider', 'http://localhost:8080/healthz', '||', 'exit 1']
      interval: 30s
      timeout: 3s
    environment:
      - HASURA_GRAPHQL_DATABASE_URL=postgres://dipdup:${POSTGRES_PASSWORD:-changeme}@db:5432/dipdup
      - HASURA_GRAPHQL_ENABLE_CONSOLE=true
      - HASURA_GRAPHQL_DEV_MODE=false
      - HASURA_GRAPHQL_ENABLED_LOG_TYPES=startup, http-log, webhook-log, websocket-log, query-log
      - HASURA_GRAPHQL_ADMIN_SECRET=${ADMIN_SECRET:-changeme}
      - HASURA_GRAPHQL_UNAUTHORIZED_ROLE=user

  api:
    image: ghcr.io/spruceid/tzp_api:latest
    build: ./service
    ports:
      - 127.0.0.1:15000:8080
    restart: always
    # environment:
    #   - DEBUG=express:*

volumes:
  db:
  tzkt_db:
