.input-container {
    background-color: rgb(247, 247, 247);
    font-size: 16px;
    font-weight: normal;
    color: black;
}

.input-wrapper {
    width: inherit;
}

// input[type="text"]:disabled {
//     opacity: 1;
//     background: black;
// }
